<html>
    <head>
        <title>Todo App</title>
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
        <!--<script src="static/main.js" type="text/javascript"></script>-->
        <style>
            .hidden {
                display: none;
            }
            .button {
                display: block;
                margin-top: 20px;
            }
            li {
                clear: both;
                font-size: 20px;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 300px;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class="lists-wrapper">
            <ul id="lists">
                {% for list in lists %}
                <li>
                    <a href="/lists/{{ list.id }}">
                    {{ list.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="todos-wrapper">
            {# <h4>{{ active_list.name }}</h4> #}
            <form id="form">
                <input id="description" type="text" name="description" required="required"/>
                <label>Required field</label>
                <input class="button" type="submit" value="Create a Todo"/>
            </form>
            <div id="error" class="hidden">Something went wrong!</div>
            <ul id="todos">
                <!--Here we loop through the data variable that app.py defined, which was passed to index.html by Jinja -->
                {% for d in data %}
                <li>
                    <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %} /> 
                    {{ d.description }}
                    <button class="delete-record" data-id="{{ d.id }}">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-------- ################## Javascript ################## ---------->
        <script>
            // ##### code for handling how the delete button removes a record from the database ####
            const deleteButtonList = document.querySelectorAll('.delete-record');
            
            // loop through the nodelist and add event listener to each element
            for (let i = 0; i < deleteButtonList.length; i++) {
                const deleteButton = deleteButtonList[i];
                deleteButton.addEventListener('click', function(e) {
                    console.log(e);
                    const buttonId = e.target.dataset['id'];
                    console.log('buttonId', buttonId);
                    fetch('/todos/' + buttonId + '/delete-record', {
                        method: 'POST',
                        body: JSON.stringify({
                            'id': buttonId
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    // function to remove the todo record from the view without page refresh
                    .then(function() {
                        // gets the delete button element by using the data-id attribute
                        const buttonHTML = document.querySelector('.delete-record[data-id="' + buttonId + '"]');
                        console.log('buttonHTML', buttonHTML);
                        // gets the parent li element of that button element and deletes it
                        // means that all the other elements inside are also removed! :)
                        buttonHTML.parentElement.remove();
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        console.log("Error: " + error);
                        document.getElementById('error').className = '';
                    })
                });
            }

            // ##### code for handling how the checkbox posts updates to the database ####
            // Get the list of checkboxes returned as a nodelist (array-like object)
            const checkboxes = document.querySelectorAll('.check-completed');
            // loop through checkboxes to listen to changes on the checkbox elements
            for (let i = 0; i < checkboxes.length; i++) {
                // set the value of checkbox as the indexed (i) element of the checkboxes nodelist
                const checkbox = checkboxes[i];
                // since checkobox is a form element, we can use the onchange event to set a function
                // (e) is the event objet in this case, passed into the function
                // Event objects have properties that we can access and manipulate
                checkbox.onchange = function(e) {
                    console.log('onchange event', e);
                    // newCompleted as the value of the true/false state of the checkbox element event
                    const newCompleted = e.target.checked;
                    console.log("I am newCompleted: ", newCompleted);
                    // set todoID as the id of the checkbox item (it's not the event id, but the event gets and displays it I think)
                    const todoId = e.target.dataset['id'];
                    console.log('todoID', todoId);
                    // use fetch to post this to the db route handler in app.py
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        // need to parse the JSON object into a string
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        console.log("Error: " + error);
                        document.getElementById('error').className = '';
                    })
                }
            }

            // ##### code for handling how the textbox posts data to the database ####
            // grab the #form element
            document.getElementById('form').onsubmit = function(e) {
                // standard way to prevent the default event behaviour
                // submit would try and put it somewhere... we want to interfere with that
                e.preventDefault();
                console.log('onclick event', e);
                // use fetch to post this to the db route handler in app.py
                fetch('/todos/create', {
                    method: 'POST',
                    // need to parse the JSON object into a string
                    body: JSON.stringify({
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                // take the fetch() response as an input into .then() and turn it into json
                .then(function(response) {
                    return response.json();
                })
                // take the result of the previous .then() and use the value of 'description'
                .then(function(jsonResponse) {
                    // create an <li> element
                    let liItem = document.createElement('li');
                    // set the content as the value of 'description'
                    liItem.innerHTML = " " + jsonResponse['description'];
                    // append this onto the list
                    document.getElementById('todos').appendChild(liItem);
                    // ensure the error class is set to hidden as things should be ok if we got to here
                    document.getElementById('error').className = 'hidden';
                    // ########## Code to add checkbox to the newly created todo without refresh ########## //
                    // create an inout element
                    const inputItem = document.createElement('input');
                    // add a class name
                    inputItem.className = "check-completed";
                    // set the data-id attribute using the 'id' in jsonResponse (this was given back to us from the create route handler)
                    inputItem.setAttribute('data-id' , jsonResponse['id']);
                    // define its type
                    inputItem.type = "checkbox";
                    // insert the checkbox as the first child item of liItem
                    liItem.prepend(inputItem);
                    console.log('inputItem', inputItem);
                    const buttonItem = document.createElement('button');
                    buttonItem.className = "delete-record";
                    buttonItem.setAttribute('data-id' , jsonResponse['id']);
                    buttonItem.innerHTML = "&cross;";
                    liItem.appendChild(buttonItem);
                })
                // clear the description field of any text content left by the input
                .then(function() {
                    document.getElementById('description').value='';
                })
                // catch() to show the error element in case something went wrong
                .catch(function(error) {
                    console.log("Error: " + error);
                    document.getElementById('error').className = '';
                })
            }
        </script>
    </body>
</html>