<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="css/main-page.css">
        <script src="js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <form id="form">
            <input id="description" type="text" name="description" required="required"/>
            <label>Required field</label>
            <input class="button" type="submit" value="Create a Todo"/>
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <ul id="todos">
            {% for d in data %}
            <li>{{ d.description }}</li>
            {% endfor %}
        </ul>
    </body>
</html>