<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--<script src="" type="text/javascript"></script>-->
    </head>
    <body>
        <form id="form">
            <input id="description" type="text" name="description" required="required"/>
            <label>Required field</label>
            <input class="button" type="submit" value="Create a Todo"/>
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <ul id="todos">
            {% for d in data %}
            <li><input type="checkbox" {% if d.completed %} checked {% endif %}/> {{ d.description }}</li>
            {% endfor %}
        </ul>
    </body>
</html>